<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Blogs</title>
</head>
<body>
<h3>ADD NEW BLOGS</h3>
<p>
    <a th:href="@{/blogs}">
        Back to blog list
    </a>
</p>
<div>
    <form th:action="@{/blogs/add}" th:object="${blog}"
          method="post" novalidate="novalidate">
        <div>
            <label>Title</label>
            <input type="text" th:field="*{title}"/>
        </div>
        <div>
            <label>Name Author</label>
            <input type="text" th:field="*{nameAuthor}"/>
        </div>
        <div>
            <label>Content</label>
            <input type="text" th:field="*{content}"/>
        </div>
        <div>
            <input type="submit" value="Save"/>
        </div>
    </form>
</div>
</body>
</html>