<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADD</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<div class="text-center">
    <h1>ADD PRODUCT</h1>
    <p>
        <a th:href="@{/products}">
            Back to product list
        </a>
    </p>
    <div id="form" class=" border border-dark w-25 ">
        <form th:action="@{/products/update}" th:object="${product}"
              method="post" novalidate="novalidate">
            <table>
                <tr>
                    <td>
                        <input type="hidden" th:field="*{id}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Name</label>
                    </td>
                    <td>
                        <input type="text" th:field="*{name}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Price</label>
                    </td>
                    <td>
                        <input type="email" th:field="*{price}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Describe</label>
                    </td>
                    <td>
                        <input type="text" th:field="*{describe}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Produce</label>
                    </td>
                    <td>
                        <input type="text" th:field="*{produce}"/>
                    </td>
                </tr>

            </table>
            <input type="submit" value="Edit"/>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>