<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Display User</title>
</head>
<body>
<h3>LIST USER</h3>

<div th:text="${msg}"></div>

<p>
    <a th:href="@{/users/add}">
        Add new User
    </a>
</p>

<table>
    <thead>
    <tr>
        <th>Id User</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${listUser}">
        <td th:text="${user.idUser}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>

        <td th:text="${user.phone}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>