<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<h1>DETAIL BOOK</h1>
<p>
    <a th:href="@{/books}">
        Back to book list
    </a>
</p>
<div>
    <form th:action="@{/books/rent}" th:object="${book}"
          method="post" novalidate="novalidate">
        <input type="hidden" th:field="*{idBook}"/>
        <div>
            <label>Name Product</label>
            <label th:text="${book.nameBook}"></label>
        </div>
        <div>
            <label>Price</label>
            <label th:text="${book.author}"></label>
        </div>
        <div>
            <label>Description</label>
            <label th:text="${book.type}"></label>
        </div>
        <div>
            <label>Produce</label>
            <label th:text="${book.publishYear}"></label>
        </div>
        <div>
            <label>Produce</label>
            <label th:text="${book.quantity}"></label>
        </div>
        <div>
            <input type="submit" value="Rent"/>
        </div>
    </form>
</div>
</body>
</html>