<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DANH SÁCH HỢP ĐỒNG</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<center>
    <h1>DANH SÁCH KHÁCH HÀNG</h1>
</center>

<div class="container ">
    <div class="row">
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Dịch Vụ</th>
                <th>Khách hàng</th>
                <th>Ngày bắt đầu</th>
                <th>Ngày kết thúc</th>
                <th>Tiền đặt cọc</th>
                <th colspan="2">Các dịch vụ đi kèm</th>
            </tr>
            <tr th:each="contracts, contractStart : ${listContract}">
                <th scope="row" th:text="${contractStart.count}"></th>
                <td th:text="${contracts.facility.facilityName}"></td>
                <td th:text="${contracts.customer.customerName}"></td>
                <td th:text="${contracts.startDate}"></td>
                <td th:text="${contracts.endDate}"></td>
                <td th:text="${contracts.deposit}"></td>
                <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modelIdCreate">+
                        </button>
                </td>
                <td>
                    <a th:href="|#listContractDetailModal${contracts.contractId}|" data-toggle="modal">
                        <button type="button" class="btn btn-primary">
                            Danh sách các dịch vụ đi kèm
                        </button>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

<!-- Modal Create Contract-->
<form th:action="@{/contract/createContract}" method="post">
    <div class="modal fade" id="modelIdCreate" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Ngày bắt đầu</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="startDate">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Ngày kết thúc</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="endDate">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Tiền gửi</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="deposit">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Tổng tiền</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" disabled id="total">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Khách hàng thuê dịch vụ</label>
                        <div class="col-sm-10">
                            <select class="form-select" aria-label="Default select example" id="customer">
                                <option th:each="item : ${customerList}" th:text="${item.name}"
                                        th:value="${item.id}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Dịch vụ</label>
                        <div class="col-sm-10">
                            <select class="form-select" aria-label="Default select example"
                                    id="idFacility">
                                <option th:each="item : ${facilityList}" th:text="${item.name}"
                                        th:value="${item.id}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Dịch vụ đi kèm</label>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-primary" onclick="selContract()">+</button>
                        </div>

                        <div id="contractDetail">
                            <table class="table table-bordered ">
                                <thead class="bg-primary text-center text-light">
                                <tr>
                                    <th>STT</th>
                                    <th>Name</th>
                                    <th>Cost</th>
                                    <th>Unit</th>
                                    <th>Status</th>
                                    <th>Quantity</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item, stt : ${contractDetailList}">
                                    <td th:text="${stt.count}"></td>
                                    <td hidden>
                                        <div class="input-group">
                                            <input type="number" th:value="${item.id}"
                                                   class="form-control border-0 bg-white"
                                                   name="idAttach" disabled>
                                        </div>
                                    </td>
                                    <td th:text="${item.name}"></td>
                                    <td th:text="${item.cost}"></td>
                                    <td hidden>
                                        <div class="input-group">
                                            <input type="number" th:value="${item.cost}"
                                                   class="form-control border-0 bg-white" name="costContractDetail"
                                                   disabled>
                                        </div>
                                    </td>
                                    <td th:text="${item.unit}"></td>
                                    <td th:text="${item.status}"></td>
                                    <td>
                                        <div class="input-group">
                                            <input type="number" class="form-control quantityContract"
                                                   name="quantity">
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Hủy bỏ</button>
                    <input type="button" class="btn btn-outline-primary btn-sm" value="Tạo hợp đồng"
                           onclick="addNewContractDetail()">
                </div>
            </div>
        </div>
    </div>
</form>
<input type="text" hidden id="flag" th:value="${flag}">

<script src="/js/bootstrap.min.js"></script>
<script>
    let flag = $('#flag').val();
    if (flag == 1) {
        $(document).ready(function () {
            $("#modelId").modal('show');
        })
    }
</script>

<script>
    document.getElementById("contractDetail").style.display = "none";

    function selContract() {
        document.getElementById("contractDetail").style.display = "block";
    }
</script>



<script src="/js/bootstrap.min.js"></script>
</body>
</html>