<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DANH SÁCH HỢP ĐỒNG</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<center>
    <h1>DANH SÁCH HỢP ĐỒNG</h1>
</center>

<nav class="navbar bg-light">
    <div class="container-fluid">
        <form th:action="@{/contract}" class="d-flex" role="search">
            <input class="form-control me-2" type="search" name="keyword" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Tìm</button>
        </form>
    </div>
</nav>

<div class="container ">
    <div class="row">
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Dịch Vụ</th>
                <th>Khách hàng</th>
                <th>Ngày bắt đầu</th>
                <th>Ngày kết thúc</th>
                <th>Tiền đặt cọc</th>
                <th colspan="2">Các dịch vụ đi kèm</th>
            </tr>
            <tr th:each="contracts, contractStart : ${listContract}">
                <th scope="row" th:text="${contractStart.count}"></th>
                <td th:text="${contracts.facility.facilityName}"></td>
                <td th:text="${contracts.customer.customerName}"></td>
                <td th:text="${contracts.startDate}"></td>
                <td th:text="${contracts.endDate}"></td>
                <td th:text="${contracts.deposit}"></td>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            th:attr="onclick=|infoCreateContractDetail('${contracts.contractId}')|">
                        +
                    </button>
                </td>
                <td>
                    <a th:href="|#listContractDetailModal${contracts.contractId}|" data-toggle="modal">
                        <button type="button" class="btn btn-primary">
                            Danh sách các dịch vụ đi kèm
                        </button>
                    </a>
                </td>
            </tr>
        </table>

        <div>
            <div>
                <div>
                    <a th:href="@{/contract(page=${listContract.number - 1},
            keyword = ${keywordVal})}"
                       th:if="${listContract.hasPrevious()}" class="btn btn-success">
                        Trước
                    </a>
                    <span class="btn btn-primary">
            <b th:text="${listContract.number + 1}"></b>
            /
            <b th:text="${listContract.totalPages}"></b>
                </span>
                    <a th:href="@{/contract(page=${listContract.number + 1},
            keyword = ${keywordVal})}"
                       th:if="${listContract.hasNext()}" class="btn btn-success">
                        Sau
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form action="/contract/createContractDetail" method="post" th:object="${contractDetail}">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tạo hợp đồng chi tiết</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mã hợp đồng</label>
                        <input readonly id="contractId" th:field="*{contract}" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Tên dịch vụ đi kèm</label>
                        <select th:field="*{attachFacility}" class="form-select">
                            <option value="">Chọn dịch vụ đi kèm</option>
                            <option th:each="attachFacilities : ${attachFacilityList}"
                                    th:value="${attachFacilities.attachFacilityId}"
                                    th:text="${attachFacilities.attachFacilityName} + ' - giá: ' + ${attachFacilities.cost}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Số lượng</label>
                        <input type="text" th:field="*{quantity}" class="form-control"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ bỏ</button>
                    <button type="button" class="btn btn-primary">Tạo mới</button>
                </div>

            </form>

        </div>
    </div>
</div>

<script>
    function infoCreateContractDetail(id) {
        document.getElementById("contractId").value = id;
    }
</script>

<script src="/js/bootstrap.min.js"></script>
</body>
</html>