<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Music</title>
</head>
<body>
<h3>Delete Music</h3>
<p>
    <a th:href="@{/musics}">
        Back to home
    </a>
</p>
<div id="form">
    <form th:action="@{/musics/delete}" th:object="${music}"
          method="post" novalidate="novalidate">
        <input type="hidden" th:field="*{idSong}"/>
        <div>
            <label>Name Song</label>
            <input type="text" readonly th:field="*{nameSong}"/>
        </div>
        <div>
            <label>Artist</label>
            <input type="text" readonly th:field="*{artist}"/>
        </div>
        <div>
            <label>Type</label>
            <input type="text" readonly th:field="*{type}"/>
        </div>
        <div>
            <label>Link</label>
            <input type="file" readonly th:field="*{link}"/>
        </div>
        <input type="submit" value="Remove"/>
    </form>
</div>
</body>
</html>