<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Music</title>
</head>
<body>
<h3>List Music</h3>
<form th:action="@{/musics/search}" th:object="${music}" method="get" novalidate="novalidate">
    <input type="text" th:field="*{nameSong}">
    <input type="submit" value="Search">
</form>
<p>
    <a th:href="@{/musics/add}">
        Add new song
    </a>
</p>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name Song</th>
        <th>Artist</th>
        <th>Type</th>
        <th>Link</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="music : ${listMusic}">
        <td th:text="${music.idSong}"></td>
        <td th:text="${music.nameSong}"></td>
        <td th:text="${music.artist}"></td>
        <td th:text="${music.type}"></td>
        <td>
            <audio controls>
                <source th:src="@{'/musics/' + ${music.link}}">
            </audio>
        </td>
        <td><a th:href="@{/musics/{id}/edit(id=${music.idSong})}">Edit</a></td>
        <td><a th:href="@{/musics/{id}/delete(id=${music.idSong})}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>