<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
</head>
<body>
<p>
    <a class="btn btn-secondary" th:href="@{/shopping-cart}">Your cart</a>
</p>
<div class="container">
    <div class="row">
        <div id="cards" th:each="product:${products}" class="card col-md-3" style="width: 18rem;">
            <img class="card-img-top" id="img-card" th:src="@{${product.description}}"
                 style="width: 255px; height: 290px" alt="Card image cap">
            <div class="card-body">
                <h5 th:text="${product.name}" class="card-title"></h5>
                <h6 th:text="${product.price} +' cành'" class="card-title"></h6>
                <a th:href="@{/shop/view/{id}(id=${product.id})}" class="btn btn-primary">Mang về nhà</a>
            </div>
        </div>
    </div>
</div>
<script th:src="@{js/bootstrap.bundle.min.js}"></script>
</body>
</html>