<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Music</title>
</head>
<body>
<h3>ADD NEW MUSIC</h3>
<p>
    <a th:href="@{/musics}">
        Back to music list
    </a>
</p>
<div>
    <form th:action="@{/musics/add}" th:object="${musicDto}"
          method="post" novalidate="novalidate">
        <div>
            <label>Name Song</label>
            <input type="text" th:field="*{nameSong}"/>
        </div>
        <div th:errors="*{nameSong}"></div>
        <div>
            <label>Artist</label>
            <input type="text" th:field="*{artist}"/>
        </div>
        <div th:errors="*{artist}"></div>
        <div>
            <label>Type</label>
            <input type="text" th:field="*{type}"/>
        </div>
        <div th:errors="*{type}"></div>
        <div>
            <input type="submit" value="Save"/>
        </div>
    </form>
</div>
</body>
</html>