<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<p>
    <a href="/shop" class="btn btn-outline-success">Shop</a>
</p>
<h1>THÔNG TIN ĐƠN HÀNG</h1>
<form th:action="@{/shop}" th:object="${cart}" method="post">
    <h3>Tổng số mặt hàng: <span th:text="${countItemQuantity}"></span></h3>
    <h3>Tổng số sản phẩm: <span th:text="${countProductQuantity}"></span></h3>
    <table class="table">
        <tr class="table-success">
            <th>Tên sản phẩm</th>
            <th>Hình ảnh</th>
            <th>Số lượng</th>
            <th>Giá sản phẩm</th>
        </tr>
        <tr th:each="product: ${cart.products}">
            <td th:text="${product.getKey().name}"></td>
            <td>
                <img th:src="${product.getKey().linkImage}" width="70px" height="70px">
            </td>
            <td>
                <a id="decrease_button" th:if="${product.getValue()}"
                   th:href="@{/add/__${product.getKey().id}__(action='sub')}"
                   th:text="${'-'}"></a>
                <span th:text="${product.getValue()}"></span>
                <a id="increase_button" th:href="@{/add/__${product.getKey().id}__(action='show')}"
                   th:text="${'+'}"></a>
            </td>
            <td th:text="${product.getKey().price}"></td>
        </tr>
        <tr>
            <td>Thành tiền</td>
            <td></td>
            <td></td>
            <td th:text="${countTotalPayment}"></td>
        </tr>
        <tr>
            <input type="hidden" name="totalPayment" th:value="${countTotalPayment}">
            <td></td>
            <td></td>
            <td>
                <button type="button"
                        class="btn btn-primary"
                        th:attr="onclick=|showPay('${countTotalPayment}')|"
                        data-bs-toggle="modal"
                        data-bs-target="#payModal">
                    TIẾN HÀNH THANH TOÁN
                </button>
            </td>
            <td></td>
        </tr>
    </table>
</form>

<div class="modal fade" id="payModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/pay" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thanh toán</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Pay <span id="payShow" name="payShow"></span>
                    <input type="hidden" name="payInput" id="payInput">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quay lại</button>
                    <button type="submit" class="btn btn-outline-success">Trả tiền</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/bootstrap.min.js"></script>
<script>
    function showPay(payment) {
        document.getElementById("payShow").innerText = payment;
        document.getElementById("payInput").value = payment;
    }
</script>
</body>
</html>