<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm mới dịch vụ</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container w-50 mt-5 p-2 bg-success" style="border: 1px solid grey; border-radius: 15px">
    <h3 align="center">THÊM MỚI DỊCH VỤ</h3>

    <form class="row g-3 text-center" th:action="@{/facility/add}" th:object="${facility}"
          method="post" novalidate="novalidate">

        <div class="col-md-12">
            <label class="form-label">Loại dịch vụ</label>
<!--            <select id="type_facility" name="facilityTypeId" class="form-select" onchange="showFacilityInput()">-->
<!--                <option value="None" >Chọn loại dịch vụ</option>-->
<!--                <option value="1" >Villa</option>-->
<!--                <option value="2" >House</option>-->
<!--                <option value="3" >Room</option>-->
<!--            </select>-->
            <select name="serviceType" class="form-select" onchange="showFacilityInput(this)" id="type_facility"
                    th:field="*{facilityType}">
                <option value="None" selected disabled>Chọn loại dịch vụ</option>
                <option th:each="service : ${facilityTypeList}" th:text="${service.facilityTypeName}"
                        th:value="${service.facilityTypeId}"></option>
            </select>
        </div>

        <div class="col-md-12">
            <label for="name" class="form-label">Tên dịch vụ</label>
            <input type="text" class="form-control" id="name" th:field="*{facilityName}"/>
        </div>

        <div class="col-md-12">
            <label for="area" class="form-label">Diện tích sử dụng</label>
            <input type="text" class="form-control" id="area" th:field="*{facilityArea}"/>
        </div>

        <div class="col-md-12">
            <label for="cost" class="form-label">Chi phí thuê</label>
            <input type="text" class="form-control" id="cost" th:field="*{facilityCost}"/>
        </div>

        <div class="col-md-12">
            <label for="people" class="form-label">Số người tối đa</label>
            <input type="text" class="form-control" id="people" th:field="*{facilityMaxPeople}"/>
        </div>

        <div class="col-md-12">
            <label class="form-label">Kiểu thuê</label>
            <select class="form-select" aria-label="Default select example" th:field="*{rentType}">
                <option th:each="item : ${rentTypeList}" th:text="${item.rentTypeName}" th:value="${item.rentTypeId}"></option>
            </select>
        </div>
<!--        <div class="col-md-12">-->
<!--            <label class="form-label">Loại dịch vụ</label>-->
<!--            <select class="form-select" aria-label="Default select example" th:field="*{facilityType}">-->
<!--                <option th:each="item : ${facilityTypeList}" th:text="${item.facilityTypeName}" th:value="${item.facilityTypeId}"></option>-->
<!--            </select>-->
<!--        </div>-->
        <div class="col-md-12" id="dv1" style="display: none">
            <label for="room" class="form-label">Tiêu chuẩn phòng</label>
            <input type="text" class="form-control" id="room" th:field="*{standardRoom}" value="null"/>
        </div>
        <div class="col-md-12" id="dv2" style="display: none">
            <label for="description" class="form-label">Mô tả tiện nghi</label>
            <input type="text" class="form-control" id="description" th:field="*{description}" value="null"/>
        </div>
        <div class="col-md-12" id="dv4" style="display: none">
            <label for="pool_area" class="form-label">Diện tích hồ bơi</label>
            <input type="text" class="form-control" id="pool_area" th:field="*{poolArea}" value="0"/>
        </div>
        <div class="col-md-12" id="dv3" style="display: none">
            <label for="floor" class="form-label">Số tầng</label>
            <input type="text" class="form-control" id="floor" th:field="*{numberOfFloor}" value="0"/>
        </div>
        <div class="col-md-12" id="dv5" style="display: none">
            <label for="free" class="form-label">Dịch vụ Free đi kèm</label>
            <input type="text" class="form-control" id="free" th:field="*{facilityFree}" value="null"/>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Xác nhận</button>
        </div>
    </form>
</div>

<script>
    function showFacilityInput() {
        let type = document.getElementById("type_facility").value;
        switch (type) {
            case 'None':
                document.getElementById("dv1").style.display="none";
                document.getElementById("dv2").style.display="none";
                document.getElementById("dv3").style.display="none";
                document.getElementById("dv4").style.display="none";
                document.getElementById("dv5").style.display="none";
                break;
            case "1":
                // "Villa"
                document.getElementById("dv1").style.display="block";
                document.getElementById("dv2").style.display="block";
                document.getElementById("dv3").style.display="block";
                document.getElementById("dv4").style.display="block";
                document.getElementById("dv5").style.display="none";
                break;
            case "2":
                // "House":
                document.getElementById("dv1").style.display="block";
                document.getElementById("dv2").style.display="block";
                document.getElementById("dv3").style.display="block";
                document.getElementById("dv4").style.display="none";
                document.getElementById("dv5").style.display="none";
                break;
            case "3":
                // "Room":
                document.getElementById("dv1").style.display="none";
                document.getElementById("dv2").style.display="none";
                document.getElementById("dv3").style.display="none";
                document.getElementById("dv4").style.display="none";
                document.getElementById("dv5").style.display="block";
                break;
        }
    }
</script>

<script src="/js/bootstrap.min.js"></script>
</body>
</html>