<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<p>
    <a href="/shopping-cart" class="btn btn-outline-primary mt-3 ml-3">Giỏ hàng</a>
</p>
<div class="container">
    <div class="row">
        <th:block th:each="product: ${products}">
            <div class="col-md-3">
                <div class="card" style="width: 19rem;">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${product.name}"></h5>
                        <p class="card-text" th:text="${product.price}"></p>
                        <a th:href="@{/detail/{id}(id=${product.id})}"
                           class="btn btn-outline-primary">Chi tiết</a>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>

<script src="/js/bootstrap.min.js"></script>
</body>
</html>